.vs/Lab6/v15/.suo
	Lab6/obj/Debug/Lab6.csproj.CoreCompileInputs.cache


.vs/Lab6/v15/.suo
.vs/Lab6/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/Lab6/v15/.suo
*.exe
*.exe
*.pdb
*.cache
*.Cache
*.cache
*.pdb
*.exe
*.ide
.vs/Lab6/v15/.suo
*.pdb
*.exe
*.cache
*.Cache
*.txt
*.cache
*.pdb
*.exe
*.ide
.vs/Lab6/v15/.suo
*.txt
Nouveau document texte.txt
*.cache
*.cache
*.ide
.vs/Lab6/v15/.suo
